<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
<!--
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%class{1.}] %highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} - %msg%n"/>
-->

            <PatternLayout pattern="%clr{%date{MM-dd HH:mm:ss.SSS}}{faint}%clr{%5level}%clr{[%thread]}{magenta}%clr{%class{10} - }{cyan}%message%n"/>

        </Console>
    </Appenders>

    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="org.lili.forfun.spring.traning" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <!--<Logger name="org.springframework" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>-->
        <!--<Logger name="org.apache.catalina" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>-->
        <!--<Logger name="org.apache.tomcat" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache.coyote" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>-->
        <!--<Logger name="org.mybatis.spring" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>-->
    </Loggers>
</Configuration>